@import url("http://fonts.cdnfonts.com/css/space-mono");

body {
  height: 100%;
  width: 100%;
  overflow-y: scroll;

}

.joko_header {
  margin-top: 1px;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}
@media (min-width: 801px) {
  .m_menu {
    display: none;
  }

  .m_logo {
    display: none;
  }

  .m_register {
    display: none;
  }
}
@media (max-width: 800px) {
  .m_menu {
    width: 25%;
    border-right: 1px solid black;
  }
  .m_menu i {
    font-size: 25px;
    padding: 20px;
    width: 100%;
  }

  .m_logo {
    width: 50%;
    border-right: 1px solid black;
  }

  .m_logo img {
    padding: 20px;
    width: 100%;
  }

  .m_register {
    width: 25%;
    background: black;
  }

  .m_register a {
    color: #fff;
    /* font-family: Satoshi; */
    padding-top: 20px;
    padding-left: 10px;
    display: block;

    /* font-size: 20px; */
  }

  .logo {
    display: none;
  }
  .menu {
    display: none;
  }
  .search {
    display: none;
  }
  .instant {
    display: none;
  }
  .register {
    display: none;
  }
}


.custom-btn{
  border: 1px solid black;
  
}


.logo {
  width: 10%;
  border-right: 1px solid black;
}

.menu {
  width: 40%;
  border-right: 1px solid black;
}
.search {
  width: 24%;
  border-right: 1px solid black;
}
.instant {
  width: 13%;
  border-right: 1px solid black;
  /* position: absolute; */
}
.register {
  width: 13%;
  background: black;
}

.logo img {
  padding: 20px;
  width: 100%;
}
.menu ul {
  margin-top: 20px !important;
  width: 100%;
}

.menu li {
  display: inline;
  padding: 20px;
}

.menu a {
  color: black !important;
}

.search-form * {
  width: 100%;
  border-radius: 0;
  height: 100%;
  border: none;
  display: flex;
  flex-direction: row;
}

.searchicon {
  float: left;
  width: 10%;
  padding: 10px;
  font-size: 17px;
  cursor: pointer;
}
.search-form input {
  /* padding: 10px; */
  font-size: 17px;
  float: left;
  width: 90%;
  border-radius: 0;
  /* height: 100%; */
  border: none;
  top: 0;
  height: 10vh;
  margin-top: -15px;
  vertical-align: top;
  outline: none !important;
}

.search-form .form-control {
  border: none;
}

.instant_link {
  margin-top: 20px;
}

.instant_link a {
  width: 100%;
  padding: 20px;
  color: black !important;
}

.register_link {
  margin-top: 20px;
}

.register_link a {
  width: 100%;
  padding: 20px;
  color: white !important;
}

/* SECTION ONE */
.section1 {
  border: 1px solid black;
  height: 90vh;
}

@media (max-width: 800px) {
    .section1 {
        height: 120vh !important;
      }
  .text-area {
    width: 100%;
    /* visibility: hidden; */
    white-space: nowrap;
    overflow: hidden;
  }

  .text {
    font-size: 30px;
    line-height: 10px;
  }

  .text2 {
    font-size: 30px;
    line-height: 10px;
  }

  .hero_video {
    margin-top: 10px !important;
  }

  .hero_video_text {
    width: 100% !important;
    padding: 15px !important;
  }
  .play_text {
    margin-top: 50px !important;
  }

  .section2 .inline{
      margin-top: 20px !important;
  }

  .text3{
      display: none;
  }
  .text4 {
   
    font-size: 25px !important;
    line-height: 10px !important;
  }

  

 
}

.text-area {
  border-bottom: 1px solid black;
  padding: 10px;
  width: 100%;
}
.inline {
  display: inline-block;
}
.dot {
  height: 25px !important;
  width: 25px !important;
  background-color: red;
  border-radius: 50%;
  padding: 10px 15px 10px 20px;
}

.rec {
  color: red;
}

.text {
  /* position: absolute; */
  /* width: 100%; */

  opacity: 0.3;
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 89px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  /* border: 1px solid rgba(0, 0, 0, 0.3); */
}

.text2 {
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 89px;
  color: black;
}

/* HERO VIDEO */
.hero_video {
  margin-top: 30px;
  height: 30vh;
}
.hero_video_text {
  /* float: center; */
  margin: auto;
  width: 70%;
  padding: 10px;
}
.hero_video_text p {
  font-family: Satoshi;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 42px;
  /* or 210% */

  /* display: flex; */
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #000000;
}

.play_text {
  color: red;
  margin-top: 20px;
  text-align: center;
}

.vid_play {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.vid_play_circle {
  height: 100px;
  width: 100px;
  background-image: url("../images/play.png");
  background-color: red;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}

.lefticon {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  position: absolute;
  padding: 20px;
  margin-left: 30px;
  bottom: 0;
  left: 0;
  margin-bottom: 20px;
}

.righticon {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  position: absolute;
  padding: 20px;
  margin-right: 30px;
  bottom: 0;
  right: 0;
  margin-bottom: 20px;
}

/* SECTION 2 */
.section2 {
  border: 1px solid black;
  margin-top: 10px;
}

.text3 {
  /* position: absolute; */
  /* width: 100%; */
  opacity: 0.3;
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 89px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  /* border: 1px solid rgba(0, 0, 0, 0.3); */
}

.text4 {
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 89px;
  color: black;
}

.artist_body_header{
    margin-top: 20px;
   

font-family: Space Mono;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 59px;
align-items: center;
letter-spacing: -0.03em;
text-transform: uppercase;

color: #000000;
}

.artist_body_body{

font-family: Satoshi;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 42px;
align-items: center;
letter-spacing: -0.02em;
margin-top: 20px;
color: #000000;
}


.artist_body_btn{
background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
width: 200px;
padding: 25px;
margin-top: 20px;
margin-bottom: 20px;
}

.artist_body_btn .fa{
font-size: 20px;
}



/* SECTION 3 */
.section3 {
    border: 1px solid black;
    margin-top: 10px;
  }

  .episodes_col{
      border: 1px solid black;
  }

  .episodes_col img{
      margin-top: 20px;
      width: 100%;
      height: 300px;
      object-fit: contain;
}
.episodes_title{
    margin-top: 20px;
    margin-left: 25px;
}

.view_more{
    
    border: 1px solid black;
}

.view_more_btn{
    background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
width: 200px;
padding: 25px;
margin-top: 20px;
margin-bottom: 20px;
text-align: center;
margin: auto;
margin-bottom: 20px;

}



/* SECTION 4 */
.section4{

    background: #000000 ;
   height: 200px;
   
}

.nft_text1{
    font-family: Satoshi;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 19px;
padding-top: 60px;
align-items: center;
text-align: center;
text-transform: uppercase;

color: #818181;
}

.nft_text2{
    /* color: linear-gradient(135deg, #7000FF, #00FFF0); */
    font-size: 30px;
    background: -webkit-linear-gradient(right, #7000FF, #00FFF0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding-top: 20px;
}


/* SECTION 5 */
.section5{
    border: 1px solid black;
    margin-top: 10px;
}

.section5 .inline{
    border-bottom: 1px solid black;
}

.playlist_col{
    border: 1px solid black;
}
.playlist_col .body1{
    
    font-family: Space Mono;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
align-items: center;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;

color: #000000;
}

.playlist_col .body2{
   
    font-family: Satoshi;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
align-items: center;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;

color: rgba(0, 0, 0, 0.5);
}

.playlist_col img{
    
    margin-top: 20px;
      width: 100%;
      height: 300px;
      object-fit: contain;
}



/* SECTION 6 */
.section6{
    border: 1px solid black;
    margin-top: 10px;
    height: 70vh;
}

.stories_body{
    margin-bottom: 50px;
}

.stories_body_text{
    
    font-family: Space Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 67px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.04em;
    width: 50%;
    margin: auto;
    color: #000000;
    margin-top: 50px;
      
}

.stories_body_btn{
    background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
width: 200px;
padding: 25px;
margin-top: 20px;
margin-bottom: 20px;
margin: auto;
}

.stories_body_btn .fa{
    font-size: 20px;
    }


    /* FOOTER */

    @media (max-width: 800px) {

      .joko_footer{
       
    position: fixed;
    bottom: 0;
    
    margin-top: 30px;
      }
      
  }

  @media (min-width: 801px) {

    .joko_footer{
     
  /* position: fixed; */
  }
    
}

  .joko_footer{
    border: 1px solid black;
margin-top: 10px;
display: flex;
background: #fff;
/* bottom: 0 !important; */
/* position: relative;  */
width: 100%;
}
    

    .joko_footer ul{
width: 79%;
margin-top: 20px;
    }

    .joko_footer li{
        width: 100%;
        display: inline;
  padding: 20px;
    }

    .joko_footer a{
        color: #000000;
    }

    .f_twitter{
        
       width:7%;
        border-right: 1px solid black;
        
    }
    .f_facebook{
        width:7%;
        border-right: 1px solid black;
    }
    .f_insta{
        width:7%;
        display: inline;
    }

    .social_icon{
        /* margin-top: 20px; */
        padding: 20px;
        font-size: 20px;
    }

    @media (max-width: 800px) {

        .joko_footer ul{
            display: none;
                }
        .f_twitter{
        
            width:33%;
             border-right: 1px solid black;
             
         }
         .f_facebook{
            width:33%;
             border-right: 1px solid black;
         }
         .f_insta{
            width:33%;
             display: inline;
         }
    }

    

    /* SINGLE PAGE */
    .single_nav{
      display: flex;
    }

    .single_nav1{
width: 33%;
padding: 20px;
    }

    .single_nav2{
      width: 33%;
      text-align: center;
      padding: 20px;
    }

    .single_nav3{
      width: 33%;
      text-align: right;
      padding: 20px;
    }

    .episode_vid{
      background-image: url('../images/banner/bio/User/Rectangle\ 459vid.png');
      height: 50vh;
      /* width: 100%; */
      margin-left: 20px;
      margin-right: 20px !important;
      background-position: center;
      
    }

    .section1_single{
      border: 1px solid black;
  height: auto;
  margin-bottom: 50px;
  /* overflow-y: scroll; */
  
    }

    @media (max-width: 800px) {

      .section1_single{
        border: 1px solid black;
    height: 110vh;
    overflow-y: scroll;
    margin-bottom: 100px;
      }
      .section1_single .inline_btn1{
        display: block !important;
        
        /* padding: 20px; */
        /* margin-right: 20px; */
        
      }
    
      .section1_single .inline_btn2{
        display: block !important;
        /* padding: 20px; */
      }
  }

  .section1_single .inline_btn1{
    display: inline;
    padding: 20px;
    margin-right: 20px;

    /* margin-bottom: 20px; */
    
  }

  .section1_single .inline_btn2{
    display: inline;
    padding: 20px;
  }


  /* Pass_card */
.pass_card{
margin-top: 30px;
border: 1px solid #000000;
height: 70vh;
}

.pass_card_head{
background-color: #FFBD17;
font-family: Space Mono;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 32px;
align-items: center;
text-align: center;
letter-spacing: -0.02em;
text-transform: uppercase;
/* height: 50px; */
padding: 10px;
color: #000000;
width: 100%;
}

.pass_card .market h5{
  font-family: Satoshi;
  font-style: normal;
  /* font-weight: bold; */
  font-size: 16px;
  line-height: 32px;
  align-items: center;
  text-align: center;
  letter-spacing: -0.01em;
  margin-top: 50px;
  color: #000000;
  
}

.pass_card .market h2{
  font-family: Satoshi;
  font-style: normal;
  /* font-weight: bold; */
  font-size: 45px;
  line-height: 32px;
  align-items: center;
  text-align: center;
  letter-spacing: -0.01em;
  margin-top: 50px;
  color: #000000;
  
}

.pass_card .market button{
  width: 90%;
  background-color: #000000;
  color: #FFFFFF;
  border: none;
  height: 50px;
  margin-left: 30px;
  margin-top: 20px;
}

@media (max-width: 800px) {
  .pass_card .market button{
    width: 100%;
    margin-left: 0px;
  }
}

.pass_card .market p{
  margin-top: 60px;
  font-family: Satoshi;
  font-style: normal;
  /* font-weight: bold; */
  font-size: 15px;
  line-height: 32px;
  align-items: center;
  text-align: center;
  letter-spacing: -0.01em;
  margin-top: 50px;
  color: #000000;
}

.pass_card .nav-tabs{
  width: 100%;
}

.pass_card .nav-tabs a{
  color: #000000;
}

.pass_card .nav-tabs .market_tab{
  width: 50%;
  text-align: center;
}

.pass_card .nav-tabs .own_tab{
  width: 50%;
  text-align: center;
}
 

.pass_card .own .p1{
  font-family: Satoshi;
  font-style: normal;
  /* font-weight: bold; */
  font-size: 16px;
  line-height: 32px;
  align-items: center;
  text-align: center;
  letter-spacing: -0.01em;
  margin-top: 50px;
  color: #000000;
  
}

.pass_card .own form{
margin: 0 auto;
width: 50%;
padding: 20px;
}

.pass_card .own input{
  outline: none;
  border: none;
  height: 50px;
  font-size: 40px;
  width: 100%;

}

.pass_card .own button{
  width: 90%;
  background-color: #000000;
  color: #FFFFFF;
  border: none;
  height: 50px;
  margin-left: 30px;
  margin-top: 20px;
}

@media (max-width: 800px) {
  .pass_card .own button{
    width: 100%;
    margin-left: 0px;
  }
}

.pass_card .own .p2{
  margin-top: 60px;
  font-family: Satoshi;
  font-style: normal;
  /* font-weight: bold; */
  font-size: 15px;
  line-height: 32px;
  align-items: center;
  text-align: center;
  letter-spacing: -0.01em;
  margin-top: 50px;
  color: #000000;
}

.clearfix{
  padding: 40px;
}